name: Build Kernel Module

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install build deps
      run: |
        sudo apt update
        sudo apt install -y build-essential linux-headers-$(uname -r)

    - name: Build module
      run: |
        make
        ls -l *.ko || true

    - name: Upload hello.ko
      uses: actions/upload-artifact@v4
      with:
        name: kernel-module
        path: "*.ko"
